body{
    background-color: rgb(255, 255, 255);
    color: black;
}
#theme-toggle
{   
    background-color: black;
    position: relative;
    display: flex;
    left: 90%;
    align-items: flex-end;
    justify-content:flex-end;
    vertical-align: top;
}
.editor{
    color: #ccc;
    background-color: rgb(255, 255, 255);
	border:solid 1px rgb(0, 0, 0);
    padding: 20px;
    min-height:200px;
    }
#editor{
    color: rgb(0, 0, 0);
}
.heading{
    text-align: center;color: rgb(0, 0, 0); font-family: Helvetica ,sans-serif ;
}

.total{
    padding-left: 100px;
    padding-right: 100px;
}
.sample-toolbar{
    height: 25px;
    width: 80vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border:solid 1px #ddd;
    background:#4b5becb9;
    border-radius:3px;
}

.sample-toolbar > span{
    cursor:pointer;
	}

.sample-toolbar > span:hover{
    text-decoration:underline;
}
#box{
    min-height: 300px;
    width: 70vw; 
    border: solid; 
    border-width: 1px;
    padding: 15px; 
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  